
<div class="container-fluid">

  <div class="lander_intro">
    <h1>eScene</h1>


  </div><!-- / lander intro -->

  <div class="row"id="brand_browse_section">

    <div class="col-xs-4 col-sm-2 col-md-2 logo_info">
      <div id="logo_info_p_1">info box/widget</div>
      <div id="logo_info_p_2">info box/widget</div>
      <div id="logo_info_p_3">info box/widget</div>
    </div><!-- / logo info -->

    <div class="col-xs-12 col-sm-9 col-md-9" id="product_logos">
      <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("cloud_logo.jpg", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("counterlogic_logo.jpg", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("dignitas_logo.jpg", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("evil_geniuses_logo.png", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("fanatic_logo.jpg", class: "img-responsive") %>
    </div>


    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("liquid_logo.jpg", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("sk_logo.jpg", class: "img-responsive") %>
    </div>

    <div class="col-xs-4 col-md-3 col-lg-3 logo">
      <%= image_tag("solomid_logo.jpg", class: "img-responsive") %>
    </div><!-- / col -->

  </div><!-- / row - product_logos -->
  </div><!-- / brand_browse_section -->


  <div class="thumbnails">

  <div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>test test</p>
        <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-sm-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>test test</p>
        <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-sm-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>test test</p>
        <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

    <div class="col-xs-6 col-sm-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <p>test test</p>
        <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
  	
  </div><!-- / thumbnails -->

</div><!-- / container-fluid --> 