
<div class="container-fluid">

  <div class="lander_intro">
    <h1>eScene</h1>


  </div><!-- / lander intro -->

  <div class="row" id="brand_browse_section">

    <div class="col-xs-4 col-sm-2 col-md-2 logo_info">
      <div id="logo_info_p_1">
       <div class="scroll-info-section">
         <h4 id="shop-header">Shop</h4>
         <p><%= link_to "All Available Products", products_path %></p>
         <p>[coming soon]:search by product/team</p>
       </div>
      </div>
    </div><!-- / logo info -->

    <div class="col-xs-12 col-sm-10 col-md-10" id="product_logos">
      <div class="logo-pic">
      <%= image_tag("cloud_logo.jpg", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("counterlogic_logo.jpg", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("dignitas_logo.jpg", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("evil_geniuses_logo.png", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("fanatic_logo.jpg", class: "logo-pic img-responsive") %>
    </div>


    <div class="logo-pic">
      <%= image_tag("liquid_logo.jpg", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("sk_logo.jpg", class: "logo-pic img-responsive") %>
    </div>

    <div class="logo-pic">
      <%= image_tag("solomid_logo.jpg", class: "logo-pic img-responsive") %>
    </div><!-- / col -->

  </div><!-- / row - product_logos -->

    <div class="index-product-display">
      <%= render @products %>
    </div>

  </div><!-- / brand_browse_section -->


  	<div class="about-section">
      <div class="about">
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <p> <%= link_to("Contact", static_pages_contact_path, id: "contact-link") %> </p>
            <p>Staff</p>
            <p>Resources</p>
          </div><!--/col-->
          <div class="col-xs-8 col-sm-8" id="about-par">
            <h4> About </h4>
            <p> </p>
          </div>
        </div><!--/row-->
      </div><!--/about-->
    </div><!--/about-section-->

</div><!-- / container-fluid --> 